# Python Basics:- Variables:

In [25]:
a = 100
b = 200

In [26]:
print(a)
print(b)

100
200

In [27]:
print(type(b))
print(type(a))

<class 'int'>
<class 'int'>

In [28]:
id(a)

140714747708288

In [29]:
id(b)

140714747711488

In [30]:
a = 200

In [31]:
id(a)

140714747711488

# Rules of declaring variables:-

1. can be in alphabet with the range a - z or A - Z
2. should not start with digits
3. should not use keyword as variable name
4. "!, @ # % &"

In [ ]:
myVariable = 10
myvariable10 = 10
_myVariable = 100

!myvaaribla = 10
5myVaraible = 10

In [37]:
a  = 100
b  = a

In [38]:
print(b)

100

In [42]:
# Multiple statements
a = 10 + 20 + 30 + 40 + \
50 + 60 + 70 + 80 
print(a)

360

In [43]:
a = (10 + 20 + 30 + 40 + 
50 + 60 + 70 + 80)
print(a)

360

In [46]:
# Multiple Assignment Statement
a = 100; b = 200; c = 300
print(a, b, c)

100 200 300

In [52]:
a = 1
b = 1
c = 1

a = b = c = "same data --> "

In [53]:
print(a, b, c)

same data -->  same data -->  same data -->

In [54]:
a = 100
b = 10.10
c = "hello"

In [55]:
a, b, c = 100, 10.10, "hello"

In [57]:
print(a)
print(b)
print(c)

100
10.1
hello