In [ ]:
# indentation: 
if(True):
    # body of if
    # 2nd line
    # 3rd line
else:
    # body of else
    # 2nd line of else
    # 3rd line of else
print('done')

In [5]:
a = 100
b = 20
 
if(a > b):
    print("a is biggest one", a)
    print('hello')
else:
    print("b is biggest one", b)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [7]:
a = 100
b = 200
c = 1500
 
if(a > b and a > c):
    print("a is biggest one", a)
elif(b > c):
    print("b is biggest one", b)
else:
    print("c is biggest one", c)

c is biggest one 1500

In [ ]:
# for variable _name in collection:
      # body of for loop  
    
# list
# tuple
# set
# dict
# string

# range

In [8]:
lst = [100, 200, 300, 400, 500]

for i in lst:
    print(i) # 20 sec

100
200
300
400
500

In [9]:
for i in [100, 200, 300, 400, 500]:
    print(i)

100
200
300
400
500

In [14]:
for i in 'Gopinath':
    print(i)

G
o
p
i
n
a
t
h

In [16]:
# range

# range(Index)
# range(startIndex, endIndex)
# range(startIndex, endIndex, step)

In [17]:
range(10)

range(0, 10)

In [20]:
for i in range(1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [22]:
lst = ['babu', 'sarath', 'divya', 'navin']

for i in lst:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
# Write a program to fetch the item only within range between 50 to 70
lst = [34,67,55,33,12,98]

# Write a program to print only String data type value from the given List
lst = ['abc', 100, 10.10, True, 'Babu']


# Write a program to replace only String values as none.
lst = ['abc', 100, 10.10, True, 'Babu'] -------> [None, 100, 10.10, True, None]

In [33]:
lst = ['abc', 100, 10.10, True, 'Babu']

for i in lst:
     if('str' not in str(type(i))):
            print(i)

100
10.1
True