In [1]:
# Create the empty set

s = {}

In [2]:
type(s)

dict

In [4]:
mentors = {'Babu', 'Sarath', 'Hari', 'Divya', 'Balaji'}
type(mentors)

set

In [6]:
mentors = {'Gopi'}
type(mentors)

set

In [7]:
mentors = {'Babu', 'Sarath', 'Hari', 'Divya', 'Balaji'}

In [8]:
# add single item in set - add
mentors.add('naveen')

In [9]:
mentors

{'Babu', 'Balaji', 'Divya', 'Hari', 'Sarath', 'naveen'}

In [10]:
m1 = {"sam", 'sethu'}

In [11]:
mentors.update({"sam", 'sethu'})

In [12]:
mentors

{'Babu', 'Balaji', 'Divya', 'Hari', 'Sarath', 'naveen', 'sam', 'sethu'}

In [13]:
mentors.remove('Balaji')

In [14]:
mentors

{'Babu', 'Divya', 'Hari', 'Sarath', 'naveen', 'sam', 'sethu'}

In [15]:
mentors.discard('sethu')

In [16]:
mentors

{'Babu', 'Divya', 'Hari', 'Sarath', 'naveen', 'sam'}

In [17]:
mentors

{'Babu', 'Divya', 'Hari', 'Sarath', 'naveen', 'sam'}

In [18]:
mentors.remove('zzz')

KeyError: 'zzz'

In [19]:
mentors.discard('zzz')

In [24]:
mentors

{'Babu', 'Divya', 'Hari', 'Sarath'}

In [25]:
mentors.pop()

'Sarath'

In [27]:
mentors.clear()

In [28]:
mentors

set()

In [29]:
ls = []

In [30]:
ls

[]

In [31]:
tp = ()

In [32]:
tp

()

In [34]:
lst = []
print(type(lst))
print(lst)

<class 'list'>
[]

In [36]:
tpl = ()
print(type(tpl))
print(tpl)

<class 'tuple'>
()

In [38]:
st = {}
print(type(st))
print(st)

<class 'dict'>
{}

In [42]:
st = {'a', 'b'}
print(type(st))
print(st)
st.clear()

print(type(st))
print(st)

<class 'set'>
{'a', 'b'}
<class 'set'>
set()

In [43]:
t = set()

In [44]:
t

set()

In [57]:
st = {'Babu', 'Divya', 'Hari', 'Sarath', 'naveen', 'sam'}

In [58]:
x = st.copy()

In [59]:
tuple(st)

('naveen', 'sam', 'Sarath', 'Babu', 'Hari', 'Divya')

In [60]:
x

{'Babu', 'Divya', 'Hari', 'Sarath', 'naveen', 'sam'}

In [62]:
for i in x:
    print(i)

naveen
Divya
sam
Hari
Sarath
Babu

In [63]:
x

{'Babu', 'Divya', 'Hari', 'Sarath', 'naveen', 'sam'}

In [64]:
x.add('Divya')

In [65]:
x

{'Babu', 'Divya', 'Hari', 'Sarath', 'naveen', 'sam'}

In [66]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [67]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [72]:
print(s1.intersection(s2))

print(s1)
print(s2)

{4, 5}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [69]:
s1.difference(s2)

{1, 2, 3}

In [75]:
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [77]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [78]:
s1.difference_update(s2)

In [79]:
s1

{1, 2, 3}

In [80]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [81]:
s1.difference(s2)

{1, 2, 3}

In [82]:
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [83]:
s1.symmetric_difference_update(s2)

In [84]:
s1

{1, 2, 3, 6, 7, 8}

In [97]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5}

In [98]:
s1.issubset(s2)

False

In [99]:
s1.issuperset(s2)

True

In [102]:
s1 = {1, 2, 3}
s2 = {4, 3, 6}

In [103]:
s1.isdisjoint(s2)

False