# Map Function:- 


- func
- iterables
- return map object - convert as list.....

### Syntax:
- map(function, iterable)
- map(function, iterable1, iterable2)

In [8]:
def sq(a):
    return a**3

In [9]:
sq(2)

8

In [7]:
ls1= []
ls = [1, 2, 3, 4, 5]
for i in ls:
    ls1.append(sq(i))
    
ls1

[1, 8, 27, 64, 125]

In [11]:
list(map(sq, ls))

[1, 8, 27, 64, 125]

In [13]:
list(map(lambda a : a**3, [1, 2, 3, 4, 5]))

[1, 8, 27, 64, 125]

In [15]:
f = lambda a, b : a + b

In [16]:
f(10, 20)

30

In [19]:
ls1 = [1, 2, 3, 4, 5]
ls2 = [10, 20, 30, 40, 50]
ls3=[]

# ls3 = [11, 22, 33, 44, 55]
for i in range(len(ls1)):
    ls3.append(ls1[i] + ls2[i])
ls3

[11, 22, 33, 44, 55]

In [21]:
tuple(map(lambda a, b: a + b, ls1, ls2))

(11, 22, 33, 44, 55)

In [22]:
list(map(lambda a : a+2 if a % 2 == 0 else a+1, [1, 2, 3, 4, 5]))

[2, 4, 4, 6, 6]

In [26]:
name = "Gopinath"
fn = lambda a : a.upper()
m = map(fn, name)
print(list(m))
#************************************
list(map(lambda a : a.upper(), name))

['G', 'O', 'P', 'I', 'N', 'A', 'T', 'H']

['G', 'O', 'P', 'I', 'N', 'A', 'T', 'H']

In [27]:
f_data = {  'Chennai'   : 29,
            'Bangalore' : 36,
            'Hyderabad' : 19,
            'Delhi'     : 26,
            'Mumbai'    : 32 }

In [31]:
for i in f_data.items():
    print(i[0], (9/5)*i[1] + 32)

Chennai 84.2
Bangalore 96.8
Hyderabad 66.2
Delhi 78.80000000000001
Mumbai 89.6

In [32]:
list(map(lambda data : (data[0], (9/5)*data[1] + 32), f_data.items()))

[('Chennai', 84.2),
 ('Bangalore', 96.8),
 ('Hyderabad', 66.2),
 ('Delhi', 78.80000000000001),
 ('Mumbai', 89.6)]

In [33]:
dict(map(lambda data : (data[0], (9/5)*data[1] + 32), f_data.items()))

{'Chennai': 84.2,
 'Bangalore': 96.8,
 'Hyderabad': 66.2,
 'Delhi': 78.80000000000001,
 'Mumbai': 89.6}

In [34]:
f_data = {  'Chennai'   : 29,
            'Bangalore' : 36,
            'Hyderabad' : 19,
            'Delhi'     : 26,
            'Mumbai'    : 32 }

In [43]:
for i in f_data.items():
    print(i[0],"----->",((9/5)*i[1] + 32))

Chennai -----> 84.2
Bangalore -----> 96.8
Hyderabad -----> 66.2
Delhi -----> 78.80000000000001
Mumbai -----> 89.6

In [38]:
z = list(('Chennai', 29))
z[1] = (9/5)*z[1] + 32

In [39]:
z

['Chennai', 84.2]

In [47]:
dict(map(lambda data : (data[0], (9/5)*data[1]+32), f_data.items()))

{'Chennai': 84.2,
 'Bangalore': 96.8,
 'Hyderabad': 66.2,
 'Delhi': 78.80000000000001,
 'Mumbai': 89.6}

In [48]:
f_data = {  'Chennai'   : 29,
            'Bangalore' : 36,
            'Hyderabad' : 19,
            'Delhi'     : 26,
            'Mumbai'    : 32 }

In [49]:
f_data['Chennai']

29

In [50]:
f_data.keys()

dict_keys(['Chennai', 'Bangalore', 'Hyderabad', 'Delhi', 'Mumbai'])

In [57]:
x = f_data.values()
print(list(x))

[29, 36, 19, 26, 32]

In [52]:
f_data.items()

dict_items([('Chennai', 29), ('Bangalore', 36), ('Hyderabad', 19), ('Delhi', 26), ('Mumbai', 32)])

In [54]:
for i, j in f_data.items():
    print(j)

29
36
19
26
32