In [3]:
ls = [1, 2, 3, 4, 5]
lst1 = []

for i in ls:
    lst1.append(i**2)
    
lst1

[i**2 for i in ls]
    

# output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [4]:
list(map(lambda a : a**2, ls))

[1, 4, 9, 16, 25]

In [5]:
[i**2 for i in ls]

[1, 4, 9, 16, 25]

In [ ]:
new_list = [expression for each_element in collecion of element]

In [8]:
ls = []
for i in "Gopinath":
    ls.append(i)
    
ls

['G', 'o', 'p', 'i', 'n', 'a', 't', 'h']

In [9]:
[i for i in "Gopinath"]

['G', 'o', 'p', 'i', 'n', 'a', 't', 'h']

In [10]:
[i for i in range(200, 211)]

[200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210]

In [12]:
for i in range(200, 211):
    if (i%2==0):
        print(i)

200
202
204
206
208
210

In [14]:
list(filter(lambda a : a%2==0, range(200, 211)))

[200, 202, 204, 206, 208, 210]

In [16]:
[i for i in range(200, 211) if i%2==0]

[200, 202, 204, 206, 208, 210]

In [17]:
[x**2 for x in [x**2 for x in range(11)]]

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [18]:
ls = []
for x in range(11):
    ls.append(x**2)
    
ls

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
ls = []
for x in [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]:
    ls.append(x**2)
ls

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [20]:
[x**2 for x in [x**2 for x in range(11)]]

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [21]:
ls = ['a', 'b', 'c', 'd', 'e']

In [23]:
j = 0
for i in ls:
    print(j, i)
    j=j+1

0 a
1 b
2 c
3 d
4 e

In [25]:
for i, j in enumerate(ls):
    print(i, j)

0 a
1 b
2 c
3 d
4 e

In [26]:
months = ['March', 'April', 'May', 'June']

In [29]:
list(enumerate(months, start=3))

[(3, 'March'), (4, 'April'), (5, 'May'), (6, 'June')]